<html>
<head>
  <link rel = "stylesheet" href='/stylesheets/style.css'/>


  <div class = "row">
    <div class = "col-sm-6.col-md-4.col-md-offset-4">
      <h3 class = "text-center">Sign in to our Passport app</h3>
      <form class = "form-signin" action = "" method = "POST">
        <input type = "text" name = "username" class = "form-control" placeholder="Username" required autofocus>
        <input type = "password" name = "password" class = "form-control" placeholder="Password" required autofocus>
        <button type = "submit" class = "btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
  <a href = "/signup">Create Account</a>
</head>
</html>
